.home {
    display: flex;
    flex-direction: column;
    background-color: var(--tg-theme-bg-color);
    padding: 1em;

    >.buttons {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        >.button {
            display: flex;

            >label {
                color: var(--tg-theme-text-color);
            }
        }

    }

    >p {
        color: var(--tg-theme-text-color);
    }
}